<!DOCTYPE html>
<html data-theme="emerald">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="w-screen h-screen">
    {{{body}}}
    <script src="/lucide/lucide.min.js"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
