<div class="flex flex-row h-full justify-center items-center">
    {{#if message}}
    <div class="toast toast-top toast-center" onclick="dismiss(0)">
        {{#if message.success }}
        <div class="alert alert-success rounded-md">
            <span>{{message.success}}</span>
        </div>
        {{/if}}
        {{#if message.warning }}
        <div class="alert alert-warning rounded-md">
            <span>{{message.warning}}</span>
        </div>
        {{/if}}
    </div>
    {{/if}}
    <div class="basis-1/4">
        <form action="login" method="post" class="grid grid-cols-1 gap-6">
            <h1 class="text-3xl font-bold">Login</h1>
            <label class="block">
                <span class="text-gray-700">Username</span>
                <input name="username" type="text" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="">
            </label>
            <label class="block">
                <span class="text-gray-700">Password</span>
                <input name="password" type="password" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="">
            </label>
            <button name="login" type="submit" class="btn btn-primary rounded-md">Login</button>
        </form>
    </div>
</div>

<script>
    // Dismiss toast (either on click or after 10 seconds)
    dismiss = wait => {
        setTimeout(() => {
            document.querySelector('.toast').classList.add('hidden');
        }, wait * 1000);
    }

    dismiss(10);
</script>