<div class="flex flex-row h-full justify-center items-center">
    {{#if message}}
    <div class="toast toast-top toast-center" onclick="dismiss(0)">
        {{#if message.success }}
        <div class="alert alert-success rounded-md">
            <span>{{message.success}}</span>
        </div>
        {{/if}}
        {{#if message.warning }}
        <div class="alert alert-warning rounded-md">
            <span>{{message.warning}}</span>
        </div>
        {{/if}}
    </div>
    {{/if}}
    <div class="basis-1/4">
        <form action="login" method="post" class="grid grid-cols-1 gap-6">
            <h1 class="text-3xl font-bold">Login</h1>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Username</span>
                </label>
                <input name="username" type="text" placeholder="" class="input input-bordered" />
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password</span>
                </label>
                <input name="password" type="password" placeholder="" class="input input-bordered" />
            </div>
            <button type="submit" class="btn btn-primary rounded-md">Login</button>
        </form>
    </div>
</div>

<script>
    // Dismiss toast (either on click or after 10 seconds)
    dismiss = wait => {
        setTimeout(() => {
            document.querySelector('.toast').classList.add('hidden');
        }, wait * 1000);
    }

    dismiss(10);
</script>